@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Guitarshop</h2>
</header>
<section>
    <figure style="background-image:url('/images//Background/guitar.jpg');background-size:cover;background-repeat:no-repeat;background-attachment:fixed;width:auto;height:600px">
        <ul class="list-group list-unstyled list-style-homepage" style="padding:10px;background-color:black;border:solid 2px white;border-bottom-right-radius:10px;width:100px;">
            <li><a href="/Home/Login" style="color:snow;text-decoration:none;">Login</a></li>
            <li><a href="/Home/Register" style="color:snow;text-decoration:none;">Register</a></li>
        </ul>
    </figure>
</section>