@using Imi.Project.Blazor.Models

<button class="btn btn-primary" @onclick="OnAddClick">Add Product</button>
<div>
    @foreach (var product in ProductListItems)
    {
    <article class="list-group-item">
        <div class="text-center">
            <div>@product.Category</div>
            <a>
                <figure class="card-image-top text-center">
                    <img src="/images/@product.Image" width="150" />
                </figure>
            </a>
            <div>
                <div>@product.Brand</div>
            </div>
            <div>
                <div>@product.Name</div>
            </div>
            <div>
                <div>€@product.Price</div>
            </div>
        </div>
        <dl>
            <dd>
                <button class="btn btn-warning" @onclick="e => OnEditClick.InvokeAsync(product)">Edit</button>
                <button class="btn btn-danger" @onclick="e => OnDeleteClick.InvokeAsync(product)">Delete</button>
            </dd>
        </dl>
    </article>
    }
</div>

@code {

    [Parameter]
    public ProductListItem[] ProductListItems { get; set; }

    [Parameter]
    public EventCallback OnAddClick { get; set; }

    [Parameter]
    public EventCallback<ProductListItem> OnEditClick { get; set; }

    [Parameter]
    public EventCallback<ProductListItem> OnDeleteClick { get; set; }
}