@page "/"

<h2>Guitar Shop</h2>
<p>Welcome to the guitar shop.</p>

<section>
    <div>
        <figure style="background-image: url('/images/background/guitar.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; width: auto; height: 600px;"></figure>
    </div>
</section>
