@using Imi.Project.Blazor.Models
@using Imi.Project.Blazor.Shared

@inherits LayoutComponentBase

<MainMenu MenuItems="MenuItems" />
<div class="container mt-3">
    @Body
</div>

@code
{
    public MenuItem[] MenuItems { get; set; }

    protected override void OnInitialized()
    {
        this.loadMenuItems();
    }

    private void loadMenuItems() 
    {
        this.MenuItems = new MenuItem[] {
        new MenuItem() { Caption = "Brands", Href = "brands" },
        new MenuItem() { Caption = "Categories", Href = "categories" },
        new MenuItem() { Caption = "Products", Href = "products"},
        new MenuItem() { Caption = "Memory Game", Href = "memorygame"}
            };
    }
}